#root {
  height: calc(99vh - 10%);
  background: #007aca;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:focus {
  transition: width 0.2s ease, height 0.2s ease, left 0.2s ease, top 0.2s ease,
    border-radius 0.2s ease;
  pointer-events: none;
}

.body-box {
  margin-top: 10% !important;
}
